:root {
--sc-color-neutral-0: #ffffff;
--sc-color-neutral-50: #f2f2f2;
--sc-color-neutral-100: #e6e6e6;
--sc-color-neutral-150: #d9d9d9;
--sc-color-neutral-200: #cccccc;
--sc-color-neutral-250: #bfbfbf;
--sc-color-neutral-300: #b3b3b3;
--sc-color-neutral-350: #a6a6a6;
--sc-color-neutral-400: #999999;
--sc-color-neutral-450: #8c8c8c;
--sc-color-neutral-500: #808080;
--sc-color-neutral-550: #737373;
--sc-color-neutral-600: #666666;
--sc-color-neutral-650: #595959;
--sc-color-neutral-700: #4d4d4d;
--sc-color-neutral-750: #404040;
--sc-color-neutral-800: #333333;
--sc-color-neutral-850: #262626;
--sc-color-neutral-900: #1a1a1a;
--sc-color-neutral-950: #0d0d0d;
--sc-color-neutral-1000: #000000;
--sc-color-brand-100: #a6b7ff;
--sc-color-brand-200: #7d92ff;
--sc-color-brand-300: #557dff;
--sc-color-brand-400: #2c68ff;
--sc-color-brand-500: #3355ff;
--sc-color-brand-600: #2744d6;
--sc-color-brand-700: #1b32ad;
--sc-color-brand-800: #0f2184;
--sc-color-brand-900: #03105b;
--sc-color-purple-100: #c7a6ff;
--sc-color-purple-200: #9d7dff;
--sc-color-purple-300: #7455ff;
--sc-color-purple-400: #4a2cff;
--sc-color-purple-500: #6633ff;
--sc-color-purple-600: #5527d6;
--sc-color-purple-700: #431ead;
--sc-color-purple-800: #321584;
--sc-color-purple-900: #210b5b;
--sc-color-blue-100: #a6b7ff;
--sc-color-blue-200: #7d92ff;
--sc-color-blue-300: #557dff;
--sc-color-blue-400: #2c68ff;
--sc-color-blue-500: #3355ff;
--sc-color-blue-600: #2744d6;
--sc-color-blue-700: #1b32ad;
--sc-color-blue-800: #0f2184;
--sc-color-blue-900: #03105b;
--sc-color-green-100: #7dffb7;
--sc-color-green-200: #55ff8f;
--sc-color-green-300: #2cff66;
--sc-color-green-400: #00ff33;
--sc-color-green-500: #009933;
--sc-color-green-600: #008027;
--sc-color-green-700: #006b1b;
--sc-color-green-800: #00550f;
--sc-color-green-900: #003e03;
--sc-color-orange-100: #ffcfa6;
--sc-color-orange-200: #ffb57d;
--sc-color-orange-300: #ff9c55;
--sc-color-orange-400: #ff822c;
--sc-color-orange-500: #f27f0d;
--sc-color-orange-600: #d66d07;
--sc-color-orange-700: #ad5b05;
--sc-color-orange-800: #843903;
--sc-color-orange-900: #5b2701;
--sc-color-red-100: #ffa6a6;
--sc-color-red-200: #ff7d7d;
--sc-color-red-300: #ff5555;
--sc-color-red-400: #ff2c2c;
--sc-color-red-500: #e61a1a;
--sc-color-red-600: #d60d0d;
--sc-color-red-700: #ad0b0b;
--sc-color-red-800: #840808;
--sc-color-red-900: #5b0606;
}